<h1>Places</h1>
@foreach(var place in Model)
{
	<p><strong><a href='/placelist/@place.GetId()'>@place.GetLocation()</a></strong></p>
}
<p><a href="/">Add another place</a></p>
<p><a href="/placelist">View list</a></p>
